* {
  padding: 0;
  margin: 0;
}
.app {
  background-color: #111;
}

::-webkit-scrollbar {
  height: 8px;
  width: 10px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 3px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

  @tailwind base;
  @tailwind components;
  @tailwind utilities;